body{
    background-color: #333;
    color: white;
}

.publicLinksContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.publicLinkContainer{
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px;
    background-color: rgb(13,110,184);
    border-radius: 10px;
    font-weight: bold;
    width: 70%;
}

.publicLinkContainer:hover{
    background-color: blue;
}