.publicLinksContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.publicLinkContainer{
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px;
    background-color: rgb(13,110,184);
    border-radius: 10px;
    font-weight: bold;
}

.publicLinkContainer:hover{
    background-color: blue;
}